@import 'webapp/style/config';

.button {
  background-color: darken($colorBg, 10%);
  cursor: pointer;
  transition: all 0.15s ease-in;

  &:hover {
    background-color: darken($colorBg, 7.5%);
  }

  &:focus {
    background-color: darken($colorBg, 8%);
  }

  &:nth-child(4n) {
    background-color: $colorBgSecondary;

    &:hover {
      background-color: darken($colorBgSecondary, 5%);
    }

    &:focus {
      background-color: darken($colorBgSecondary, 3%);
    }
  }
}
